<discussion-add ng-if="discussionList.showAdd"></discussion-add>
<p>
	<img src='https://cdn3.iconfinder.com/data/icons/basic-interface/100/search-128.png' class='icon'/>
	<input id="discussionList_search" ng-model="query" type='text' placeholder='Search'/>
	<button id="discussionList_addNew" ng-click="discussionList.changeShowAdd()">Add New Discussion</button>
	<span id="sort_span">
		Sort by:
		<select class="select" ng-model="discussionList.orderProp" ng-change="discussionList.changeOrder()">
		  <option value="title" ng-click="discussionList.changeOrder()">Title</option>
		  <option value="author">Author</option>
		  <option value="createdAt">Time</option>
		  <option value="like">Likes</option>
		  <option value="follow">Follows</option>
		</select>
	</span>
</p>

<table id="discussionList_table" ng-if="!discussionList.showAdd">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Followups</th>
		<th>Likes</th>
	</tr>
	<tr ng-repeat="discussion in discussionList.discussions | filter:query | orderBy:discussionList.orderProp : discussionList.reverse">
		<td><a ui-sref="discussion({ discussionId: discussion._id })">{{discussion.title}}</a></td>
		<td><a ui-sref="authorDetails({ authorId: discussion.userId })">{{discussion.author}}</a></td>
		<td>{{discussion.follow}}</td>
		<td><button id="discussionList_likeButton" ng-click="discussionList.like(discussion._id)">
				<img id="like_button" src="http://tychomarketing.com/wp-content/uploads/2015/03/like-button.png" /> {{discussion.like}}
			</button>
		</td>
	</tr>
<table>