.icon {
	margin: 0;
	padding: 0;
    width: 30px;
    height: 30px;
}

#discussionList_search {
	background-color: black;
	color: white;
	height: 30px;
	width: 20%;
	border: none;
	border-radius: 5px;
	opacity: 0.8;
	font-size: 16px;
    font-family: "Times New Roman", Times;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#discussionList_search:focus {
    width:30%;
}

#discussionList_addNew {
	height: 30px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-family: "Times New Roman", Times;
	padding: 5px;
	opacity: 0.8;
}

#discussionList_addNew:hover {
	cursor: pointer;
	color: green;
}

#sort_span {
	background-color: black;
	color: white;
	padding: 6px;
	border: none;
	border-radius: 5px;
	opacity: 0.8;
}

.select {
	padding: 5px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: black;
    color: white;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    opacity: 0.8;
    height: 30px;
    font-size: 16px;
	font-family: "Times New Roman", Times;
	text-align: center;
}

#discussionList_table {
	border-collapse: collapse;
    width: 100%;
	text-align: center;
}

#discussionList_table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: "Times New Roman";
    font-size: 18px;
    height: 30px;
    background-color: black;
    color: white;
    opacity: 0.7;
}

#discussionList_table td a {
	color: white;
	text-decoration: none;
}

#discussionList_table td a:hover {
	color: hotpink;
}

#discussionList_table th {
	height: 30px;
	font-family: "Times New Roman";
    font-size: 18px;
    font-weight: bold;
    background-color: #000000;
    color: white;
    opacity: 0.7;
}

#discussionList_table tr:hover {
	opacity: 0.7;
}

#discussionList_likeButton {
	background-color: black;
	border: none;
	color: white;
	font-size: 15px;
}

#discussionList_likeButton:hover {
	cursor: pointer;
	color: green;
}

#discussionList_likeButton img {
	height: 25px;
	width: 25px;
}