body {
  background-image: url('http://static.tumblr.com/47d3db1630703ec6ef93310bf70014aa/qro8jrr/GMZnkv1c7/tumblr_static_dfkea5kogrkggw0wogwg8w80.jpg');
  background-size: auto;
}

@import "../imports/ui/components/share/share.less";
@import "../imports/ui/components/login/login.less";
@import "../imports/ui/components/navigation/navigation.less";
@import "../imports/ui/components/discussionList/discussionList.less";
@import "../imports/ui/components/discussionAdd/discussionAdd.less";
@import "../imports/ui/components/discussion/discussion.less";
@import "../imports/ui/components/authorDetails/authorDetails.less";