#authorDetails_card_table {
	width: 60%;
	text-align: left;
	background-color: black;
	color: white;
	font-size: 18px;
    font-family: "Times New Roman", Times;
    opacity: 0.8;
    border: none;
    border-radius: 5px;
}

#authorDetails_card_table tr {
	height: 30px;
}

#authorDetails_showEdit_button {
	height: 30px;
	width: 60%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
	opacity: 0.3;
}

#authorDetails_showEdit_button:hover {
	color: green;
	cursor: pointer;
}

#descript_form {
	width: 60%;
}

#descript_form input {
	width: 90%;
	background-color: black;
	color: white;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	padding: 3px;
	opacity: 0.8;
}

#descript_form button {
	height: 33px;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
	opacity: 0.8;
}

#descript_form button:hover {
	color: green;
	cursor: pointer;
}

#authorDetails_tip {
	width: 60%;
	text-align: left;
	background-color: black;
	color: white;
	font-size: 18px;
    font-family: "Times New Roman", Times;
    opacity: 0.8;
    border: none;
    border-radius: 5px;
    padding: 1px;
}

#authorDetails_search input {
	background-color: black;
	color: white;
	height: 30px;
	width: 20%;
	border: none;
	border-radius: 5px;
	opacity: 0.8;
	font-size: 16px;
    font-family: "Times New Roman", Times;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#authorDetails_search input:focus {
	width:30%;
}

#authorDetails_sort_span {
	background-color: black;
	color: white;
	padding: 6px;
	border: none;
	border-radius: 5px;
	opacity: 0.8;
}

#authorDetails_table {
	border-collapse: collapse;
    width: 60%;
	text-align: center;
}

#authorDetails_table th {
	height: 30px;
	font-family: "Times New Roman";
    font-size: 18px;
    font-weight: bold;
    background-color: #000000;
    color: white;
    opacity: 0.7;
}

#authorDetails_table td {
	padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: "Times New Roman";
    font-size: 18px;
    height: 30px;
    background-color: black;
    color: white;
    opacity: 0.7;
}

#authorDetails_table td a {
	color: white;
	text-decoration: none;
}

#authorDetails_table td a:hover {
	color: hotpink;
}

#authorDetails_table td button {
	background-color: black;
	border: none;
	color: white;
	font-size: 15px;
}

#authorDetails_table td button:hover {
	cursor: pointer;
	color: hotpink;
}

#authorDetails_like_button img {
	height: 25px;
	width: 25px;
}


#authorDetails_follows {
	border-collapse: collapse;
    width: 60%;
	text-align: center;
}

#authorDetails_follows th {
	height: 30px;
	font-family: "Times New Roman";
    font-size: 18px;
    font-weight: bold;
    background-color: #000000;
    color: white;
    opacity: 0.7;
}

#authorDetails_follows td {
	padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: "Times New Roman";
    font-size: 18px;
    height: 30px;
    background-color: black;
    color: white;
    opacity: 0.7;
}

#authorDetails_follows td a {
	color: white;
	text-decoration: none;
}

#authorDetails_follows td a:hover {
	color: hotpink;
}

#authorDetails_follow_tip {
	width: 60%;
	text-align: left;
	background-color: black;
	color: white;
	font-size: 18px;
    font-family: "Times New Roman", Times;
    opacity: 0.8;
    border: none;
    border-radius: 5px;
    padding: 1px;
}


