<div id="authorDetails_div">
	<table id="authorDetails_card_table">
		<tr>
			<td>Author's Email: {{authorDetails.author.emails[0].address}}</td>
		</tr>
		<tr>
			<td ng-if="!authorDetails.hasPersonal">Personal Description: No description added yet</td>
			<td ng-if="authorDetails.hasPersonal">Personal Description: {{authorDetails.personal.descript}}</td>
		</tr>
	</table>
	<button id="authorDetails_showEdit_button" ng-if="authorDetails.isOwn" ng-click="authorDetails.showEdit()">Edit Description</button>
	<form id="descript_form">
		<input id="descript_input" type="text" ng-model="authorDetails.newPersonal.descript" />
		<button ng-click="authorDetails.descriptSubmit()">Submit</button>
	</form>
	<p id="authorDetails_search">
		<input ng-model="query" type='text' placeholder='Search'/>
		<span id="authorDetails_sort_span">Sort by:
			<select ng-model="authorDetails.orderProp" ng-change="authorDetails.changeOrder()" class="select">
			  <option value="title" ng-click="authorDetails.changeOrder()">Title</option>
			  <option value="author">Author</option>
			  <option value="createdAt">Time</option>
			  <option value="like">Likes</option>
			  <option value="follow">Follows</option>
			</select>
		</span>
	</p>
	<div id="authorDetails_tip">
		<p ng-if="authorDetails.isOwn">Discussions submitted By Yourself: </p>
		<p ng-if="!authorDetails.isOwn">Discussions submitted By This User: </p>
	</div>
	<table id="authorDetails_table">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Followups</th>
			<th>Likes</th>
			<th ng-if="authorDetails.isOwn">Delete</th>
		</tr>
		<tr ng-repeat="discussion in authorDetails.discussions | filter:query | orderBy: authorDetails.orderProp : authorDetails.reverse">
			<td><a ui-sref="discussion({ discussionId: discussion._id })">{{discussion.title}}</a></td>
			<td><a ui-sref="authorDetails({ authorId: discussion.userId })">{{discussion.author}}</a></td>
			<td>{{discussion.follow}}</td>
			<td><button id="authorDetails_like_button" ng-click="authorDetails.like(discussion._id)">
				<img src="http://tychomarketing.com/wp-content/uploads/2015/03/like-button.png" />
				{{discussion.like}}
				</button>
			</td>
			<td><button ng-if="authorDetails.isOwn" ng-click="authorDetails.deleteDiscussion(discussion._id)">Delete</button></td>
		</tr>
	</table>
	<br>
	<div id="authorDetails_follow_tip">
		<p ng-if="authorDetails.isOwn">Followups submitted By Yourself: </p>
		<p ng-if="!authorDetails.isOwn">Followups submitted By This User: </p>
	</div>
	<table id="authorDetails_follows">
		<tr>
			<th>Followup Content</th>
			<th>From</th>
		</tr>
		<tr ng-repeat="ownFollow in authorDetails.ownFollows">
			
			<td>{{ownFollow.content}}</td>
			<td><a ui-sref="discussion({ discussionId: ownFollow.discussionId })">
					{{authorDetails.findDiscussionTitle(ownFollow.discussionId)}}
				</a>
			</td>
		</tr>
	</table>
</div>