<div id="login_div">
	<div id='login_title_div'>
		<h2 class="center_text_in_div">Welcome to Share</h2>
		<h2 class="center_text_in_div">Log in / Sign Up</h2>
	</div>
	<div id="login_form_div">
		<form id='login_form'>
		  <input class="login_input" type="email" id="login_email" placeholder="Email">
		  <input class="login_input" type="password" id="login_password" placeholder="Password">
		  <input class="login_button" type="submit" ng-click="login.login()" value="Login">
		  <input class="login_button" type="submit" ng-click="login.signup()" value="Register">
		</form>
	</div>

	<div id="login_floatright">
		<p>今まで、すべては</p>
		<p>{{login.numberOfDiscussions}} Discussions</p>
		<p>{{login.numberOfFollows}} Followups</p>
		<p>by {{login.numberOfUsers}} 素敵な　お客様</p>
		<p>僕たちは、感謝しております。</p>
	</div>
</div>