#login_div {
	position: absolute;
	top: 30%;
	width: 100%;
}

#login_title_div {
	font-size: 25px;
   	font-family: "Times New Roman", Times;
   	color: black;
}

.center_text_in_div {
	text-align: left;
	margin-left: 2%;
}

.login_input {
	background-color: black;
	color: white;
	opacity: 0.9;
	height: 30px;
	padding: 3px;
	width: 20%;
	border-radius: 5px;
	border-style: none;
	font-size: 15px;
	font-family: "Times New Roman", Times;
}

.login_input:focus {
	opacity: 0.7;
}

.login_button {
	background-color: black;
	color: white;
	opacity: 0.9;
	height: 35px;
	width: 5%;
	border-radius: 8px;
	border-style: none;
}

.login_button:hover {
	cursor: pointer;
	opacity: 0.7;
}

#login_form {
	display: inline-block;
	width: 100%;
    margin-left: 2%;
    margin-right: auto;
}

#login_floatright {
	position: fixed;
	right: 5%;
	top: 30%;
	font-size: 30px;
	font-family: "Times New Roman", Times;
	font-weight: bold;
	color: black;
}