#discussion_add_div {
	width: 100%;
	position: fixed;
	top: 15%;
}

#discussion_add_form {
	width: 100%;
}

#discussion_add_title {
	width: 95%;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px;
	margin-left: 5px;
	margin-bottom: 3px;
	opacity: 0.8;
}

#content {
	width: 95%;
	height: 500px;
	margin-left: 5px;
	padding: 8px;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px;
	opacity: 0.8;

}

#discussion_add_submit {
	width: 96.3%;
	margin-left: 5px;
	padding: 8px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	opacity: 0.8;

}

#discussion_add_submit:hover {
	cursor: pointer;
	color: green;
}