<div id="discussion_add_div">
	<form id="discussion_add_form">
	  <input id="discussion_add_title" type="text" ng-model="discussionAdd.discussion.title" id='title' placeholder="Title"><br>
	  <textarea type="text" ng-model="discussionAdd.discussion.content" id='content' placeholder="Content"></textarea><br>
	  <button id="discussion_add_submit" ng-click="discussionAdd.submit()">Upload</button>
	</form>
</div>