<div id="discussion_div">
	<table id="discussion_original">
		<tr>
			<td><span>Title: {{discussion.discussion.title}} <span></td>
			<td><span>Author: {{discussion.discussion.author}} </span></td>
			<td><span>Likes: {{discussion.discussion.like}}</span></td>
		<tr>
	</table>
	<table id="discussion_original_content">
		<tr>
			<td>Content: {{discussion.discussion.content}}</td>
		</tr>
	</table>
	<table id="discussion_buttons">
		<tr>
		<td><button ng-if="discussion.isOwn" ng-click="discussion.showEditTitle()">Edit Title</button></td>
		<td><button ng-if="discussion.isOwn" ng-click="discussion.showEditContent()">Edit Content</button></td>
		<td><button ng-if="discussion.isOwn" ng-click="discussion.deleteDiscussion()">Delete</button></td>
		</tr>
	</table>

	<form id="edit_title_form">
		<input id="edit_title_form_input" type="text" placeholder="New Title" ng-model="discussion.newDiscussion.title" />
		<button ng-click="discussion.submitTitle()">Submit New Title</button>
	</form>

	<form id="edit_content_form">
		<textarea id="edit_content_form_input"type="text" placeholder="New Content" ng-model="discussion.newDiscussion.content"></textarea><br>
		<button ng-click="discussion.submitContent()">Submit New Content</button>
	</form>
	<p id="discussion_no_follow" ng-if="!discussion.hasFollow()">No Follow Ups Yet</p>
	<div id="discussion_follow_div" ng-if="discussion.hasFollow()" ng-repeat="follow in discussion.follows">
			<span>{{follow.author}}</span>
			<span><button ng-if="discussion.isOwnFollow(follow._id)" ng-click="discussion.deleteFollow(follow._id)">Delete</button></span>
			<p>{{follow.content}}</p>
		</tr>
	</div>

	<div id="discussion_add_follow">
		<form>
			<input type="text" ng-model="discussion.follow.content" placeholder="followup content" />
			<button ng-click="discussion.submit()">Submit</button>
		</form>
	</div>
</div>