#discussion_original {
	width: 60%;
	height: 30px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
	opacity: 0.8;
}

#discussion_original_content {
	display: block;
	height: 30px;
	width: 60%;
	text-align: left;
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
	opacity: 0.8;
}

#discussion_buttons {
	height: 30px;
	width: 60%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
	opacity: 0.3;
}

#discussion_buttons tr td button {
	font-size: 20px;
	font-family: "Times New Roman", Times;
	background-color: black;
	color: white;
	border: none;
}

#discussion_buttons tr td button:hover {
	cursor: pointer;
	color: green;
}

#edit_title_form {
	width: 60%;
}

#edit_title_form button {
	height: 33px;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
	opacity: 0.8;
}

#edit_title_form button:hover {
	color: green;
	cursor: pointer;
}

#edit_title_form_input {
	width: 80%;
	background-color: black;
	color: white;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	padding: 3px;
	opacity: 0.8;
}

#edit_content_form {
	width: 60%;
}

#edit_content_form_input {
	width: 100%;
	background-color: black;
	color: white;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	padding: 3px;
	opacity: 0.8;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
}

#edit_content_form button {
	height: 33px;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
	opacity: 0.8;
}

#edit_content_form button:hover {
	color: green;
	cursor: pointer;
}

#discussion_no_follow {
	width: 60%;
	height: 30px;
	text-align: center;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
}

#discussion_follow_div {
	width: 60%;
	background-color: black;
	color: white;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	opacity: 0.8;
	margin-top: 3px;
	padding-left: 10px;
	border: none;
	border-radius: 10px;
}

#discussion_follow_div button {
	position: relative;
	right: 0;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
}

#discussion_follow_div button:hover {
	color: green;
	cursor: pointer;
}

#discussion_follow_div p {
	padding-bottom: 8px;
}

#discussion_add_follow {
	position: fixed;
	bottom: 0;
	width: 60%;
}

#discussion_add_follow form {
	width: 100%;
}

#discussion_add_follow form input {
	width: 90%;
	background-color: black;
	color: white;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	padding: 3px;
	opacity: 0.8;
}

#discussion_add_follow form button {
	height: 33px;
	font-size: 18px;
	font-family: "Times New Roman", Times;
	border: none;
	border-radius: 5px;
	background-color: black;
	color: white;
	opacity: 0.8;
}

#discussion_add_follow form button:hover {
	color: green;
	cursor: pointer;
}