<div id="navigation_div" ng-if="navigation.logIn">
	<table id="navigation_bar">
		<tr>
			<td><a class="navigation_link" href="/plaza"> Forum Plaza</a></td>
			<td><a class="navigation_link" ui-sref="authorDetails({ authorId: navigation.user })">My Profile</a></td>
			<td><span class="navigation_text">User Level: {{navigation.userLevel()}} </span></td>
			<td><button class="navigation_button" ng-click="navigation.logout()">Logout</button></td>
			<td><span class="navigation_text">Username: {{navigation.userName}} </span></td>
		<tr>
	</table>
</div>