#navigation_div {
	margin-top: 2px;
	width: 100%;
	height: auto;
}

#navigation_bar {
	margin-left: 0;
	color: white;
	font-size: 16px;
	font-family: "Times New Roman", Times;
}

.navigation_link {
	background-color: black;
	color: white;
	opacity: 0.8;
	padding: 8px;
	border-radius: 5px;
	font-family: "Times New Roman", Times;
	text-decoration: none;
}

.navigation_link:hover {
	cursor: pointer;
	color: green;
}

.navigation_text {
	background-color: black;
	opacity: 0.8;
	padding: 8px;
	border-radius: 5px;
}

.navigation_button {
	background-color: black;
	color: white;
	opacity: 0.8;
	border: none;
	border-radius: 5px;
	padding: 8px;
	font-size: 16px;
	font-family: "Times New Roman", Times;
}

.navigation_button:hover {
	cursor: pointer;
	color: green;
}